<div>
  <div>
    <h3>Undone Tasks</h3>
    <ul class="task-list undone">
      <li *ngFor="let task of getUndoneTasks()" class="task">
        <div class="task-checkbox" (click)="taskClicked(task)">
          <input type="checkbox" [(ngModel)]="task.isDone">
        </div>
        <div class="task-content" (click)="editTaskClicked(task)">
          {{task.content}}
        </div>
      </li>
    </ul>
  </div>
  <div>
    <h3>Done Tasks</h3>
    <ul class="task-list done">
      <div class="small-prompt" *ngIf="!getDoneTasks().length">Nothing done yet!</div>
      <li *ngFor="let task of getDoneTasks()" class="task">
        <div class="task-checkbox" (click)="taskClicked(task)">
          <input type="checkbox" [(ngModel)]="task.isDone">
        </div>
        <div class="task-content" (click)="editTaskClicked(task)">
          {{task.content}}
        </div>
      </li>
    </ul>
  </div>
  <div class="bottom-wrapper">
    <div class="input-wrapper" *ngIf="newTask">
      <input type="text" class="form-control" [(ngModel)]="newTask.content" focusOn>
    </div>
    <button class="btn btn-primary new-task-button" (click)="newTaskClicked()" *ngIf="!newTask">+ New Task</button>
    <button class="btn btn-primary new-task-button" (click)="saveTaskClicked()" *ngIf="newTask" [style.opacity]="newTask.content ? 1 : 0.6">Save</button>
  </div>
</div>
